.jar {
    width: 140px;
    height: 200px;

    margin: 250px  auto 0 ;
    border: 2px solid gray;
    background: transparent;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

} 
.mouth{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
        margin: -9px 0 0;
        font-size: 30px;
        color: gray;
}

.stem {    
    height: 250px;
    border: 2px solid green;
    position: absolute;
    left: 50%;
    bottom: 380px;
}